# Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
# WSO2 Inc. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

# Project information
site_name: WSO2 Open Healthcare Documentation
site_description: Documentation for WSO2 Open Healthcare Accelerator
site_author: WSO2
site_url: https://oh.docs.wso2.com/en/latest/

# Repository
repo_name: wso2/open-healthcare-docs
repo_url: https://github.com/wso2/open-healthcare-docs
edit_uri: https://github.com/wso2/open-healthcare-docs/edit/main-new/en/docs/

# Copyright
copyright: WSO2 Open Healthcare - Documentation

# Configuration
theme: material
theme:
  name: material
  palette:
    primary: deep-orange
    accent: deep-orange
  custom_dir: theme/material
  logo: images/logo.svg
  favicon: images/favicon.png
  highlightjs: true
  feature:
    tabs: true
  language: en

# Navigation
nav:
  - Home: index.md
  - Get started:
    - What is Open Healthcare: get-started/open-healthcare.md
    - Quickstart: get-started/open-healthcare-quickstart.md
    - Architecturee: get-started/architecture.md
    - Concepts:
      - Accelerators: concepts/accelerators.md 
      - Mappers: concepts/data-mappers.md
  - Install and setup:
    - Deployment methods: install-and-setup/deployment.md
    - Manual installation: install-and-setup/manual.md
    - Deploy on Docker: install-and-setup/deploy-docker.md
    - Deploy on Kubernetes: install-and-setup/deploy-kubernetes.md
    - Update the Accelerator: 
      - WSO2 Update tool overview: install-and-setup/updates/overview.md
      - How to use WSO2 Update tool: install-and-setup/updates/update-tool.md
      - How to update OH accelerator: install-and-setup/updates/update-accelerators.md
  - Guides:
    - Overview: guides-overview.md
    - Set up WSO2 Integration Studio: set-up-wso2-integration-studio.md
    - Working with FHIR:
      - Overview: fhir/guides/fhir-guides-overview.md
      - Build the integration logic: fhir/guides/build-the-integration-logic.md
      - Expose FHIR APIs: fhir/guides/expose-fhir-apis.md
      - Secure FHIR APIs: fhir/guides/secure-fhir-apis.md
      - Manage FHIR API access: fhir/guides/manage-fhir-api-access.md
      - Use FHIR APIs: fhir/guides/use-fhir-apis.md
    - Working with HL7:
      - Overview: hl7/guides/hl7-guides-overview.md
  - Use cases:
    - Overview: use-cases/use-cases-overview.md
  - References:
    - Overview: references-overview.md
    - Healthcare protocols:
      - FHIR:
        - Overview: fhir/references/fhir-overview.md
        - Resources: fhir/references/fhir-resources.md
        - Patient access API: fhir/references/patient-access-api.md
        - Provider directory API: fhir/references/provider-directory-api.md
        - WSO2 FHIR project:
          - Overview: fhir/references/wso2-fhir-project.md
          - Mapping templates: fhir/references/wso2-fhir-mapping-templates.md
        - FHIR Mappers:
          - HL7 to FHIR: fhir/references/hl7-to-fhir-mapper.md
      - HL7:
        - Overview: hl7/references/hl7-overview.md
    - Connectors:
      - Overview: connectors/open-healthcare-connectors.md
      - HC Systems: connectors/hc-systems.md
    - SMART specification: smart-specification.md
  - '': page-not-found.md

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      linenums: true
      use_pygments: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - markdown_include.include:
          base_path: docs
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets:
          base_path: docs
  - pymdownx.tilde

plugins:
    - search
    - markdownextradata: {}

# Extra
extra_css:
  - assets/lib/highlightjs/default.min.css
  - assets/css/theme.css
extra_javascript:
  - assets/lib/highlightjs/highlight.min.js
  - assets/js/theme.js
  - assets/lib/backtotop/js/util.js
  - assets/lib/backtotop/js/main.js
extra:
  social:
    - type: github
      link: https://github.com/wso2
    - type: twitter
      link: https://twitter.com/wso2
    - type: linkedin
      link: https://www.linkedin.com/company/wso2
  site_version: 1.0.0
  base_path: http://localhost:8000
  
  nav_list:
    - Home
    - Get Started
    - Install and Setup
    - Guides
    - Use cases
    - References