
:root {
    --md-primary-fg-color: #45578c;
    --md-primary-fg-color--light: #1bcdff;
    --md-primary-fg-color--dark: #147ecc;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;
    --md-accent-fg-color: #033982;
    --md-accent-fg-color--transparent: #0339821a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
    --md-banner: url(../img/wso2-micro-integrator-hero-image.png) no-repeat right top;
    --md-hjs-color: #00f;
    --md-primary-heder-fg-color: var(--md-primary-fg-color);
}
:root {
    --md-text-font: 'Source Sans Pro', sans-serif;
    --md-code-font: 'Source Sans Pro', sans-serif;
}
/* colors for dark theme */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #23272f;
    --md-primary-fg-color-header: #23272f;
    --md-primary-fg-color-header-text: #f5f6f7;
    --md-primary-fg-color-header-text-active: #259dc9;
    --md-accent-fg-color: #3d8fca;
    --md-default-bg-color: #23272f;
    --md-typeset-a-color: #75c9e7;
 /*    --md-banner: url(../img/banner-for-blue-alt-dark.png) no-repeat right top;  */
    --md-hjs-color: rgb(186, 186, 255);
    --md-primary-bg-color: #23272f;
    --md-primary-heder-fg-color: var(--md-primary-fg-color--light);
    --md-logo: transparent url(../img/logo.svg) no-repeat left top;
}
/* colors for the light theme */
[data-md-color-scheme="default"] {
    --md-primary-fg-color-header: #f5f6f7;
    --md-primary-fg-color-header-text: #1d1d1d;
    --md-primary-fg-color-header-text-active: #094570;
    --md-default-bg-color: #ffffff;
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-logo: transparent url(../img/logo-for-light.svg) no-repeat left top;
}
.md-tabs {
    background-color: var(--md-primary-fg-color-header);
    color: var(--md-primary-fg-color-header-text);
}
.md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover {
    color: var(--md-primary-fg-color-header-text-active);
}
.hljs-built_in, .hljs-keyword, .hljs-name, .hljs-selector-tag, .hljs-tag {
    color: var( --md-hjs-color);
}
.banner-link {
    width: 800px;
    height: 363px;
}
.md-header__button {
    color: var(--md-primary-heder-fg-color);
    
}
